
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.footer-full-dbU {
  box-sizing: border-box;
  padding: 12rem 26.4rem 12rem 13.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;

  .auto-group-eeoy-w6N {
    flex-shrink: 0;
    margin: 0rem 28.5rem 3.9rem 0rem;
    display: flex;
    flex-direction: column;

    .logo-rUE {
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.9rem;
      font-size: 2.4rem;
      font-weight: 700;
      text-transform: uppercase;
      flex-shrink: 0;
    }
    .copyright-AE2 {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.407;
      color: #000000;
    }
    .link-gTG {
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.407;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-gyet-zTx {
    margin: 0.3rem 15rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .subtitle-Wx6 {
      margin-bottom: 2.5rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.407;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .link-ENJ {
      margin-bottom: 1.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.407;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .link-AFx {
      line-height: 1.407;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .link-thk {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.407;
    }
  }
  .auto-group-bebh-pbQ {
    margin: 0rem 11.7rem 3.3rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .subtitle-Z3C {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.5rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.407;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .link-UR4 {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.407;
    }
    .link-nge {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.407;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-nmbu-vH4 {
    margin: 0.3rem 14.3rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .subtitle-Rjc {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.5rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.407;
      color: #000000;
    }
    .link-jkJ {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.407;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .link-rpv {
      line-height: 1.407;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .link-nTg {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.407;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-nfcb-Wea {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 0.3rem;
    box-sizing: border-box;
    padding-bottom: 3.6rem;

    .subtitle-pvA {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.5rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.407;
      color: #000000;
    }
    .link-jnE {
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.407;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .link-Fka {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.407;
      color: #000000;
    }
  }
}
