
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.group-2-5wU {
  padding: 6rem 6.5rem 12rem 26.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  box-sizing: border-box;

  .card-pricing-1-bQ2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    padding: 2.9rem 5.5rem 3.3rem 5.5rem;
    overflow: hidden;
    position: relative;
    border-radius: 0.2rem;
    margin: 19.5rem 2rem 0rem 0rem;
    width: 27rem;
    background-color: #ffffff;
    flex-shrink: 0;

    .icon-r54 {
      margin: 0rem 5.3rem 0.9rem 5.3rem;
      width: calc(100% - 10.6rem);
      height: 5.4rem;
      background-color: #000000;
      border-radius: 2.7rem;
      flex-shrink: 0;
    }
    .title-LW2 {
      display: flex;
      line-height: 1.1725;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.8rem;
      justify-content: center;
      font-size: 2rem;
      font-weight: 500;
      font-family: Roboto, 'Source Sans Pro';
      align-items: center;
    }
    .subtitle-F7C {
      font-weight: 400;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      line-height: 1.7142857143;
      color: #000000;
      flex-shrink: 0;
      margin-bottom: 3.4rem;
      display: flex;
    }
    .text-xXQ {
      max-width: 7.6rem;
      flex-shrink: 0;
      line-height: 2.4285714286;
      color: rgba(0, 0, 0, 0.5);
      font-family: Roboto, 'Source Sans Pro';
      margin: 0rem 0rem 2.9rem 0.1rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .button-secondary-3ok {
      white-space: nowrap;
      box-sizing: border-box;
      align-items: center;
      border: solid 0.1rem #000000;
      border-radius: 0.5rem;
      flex-shrink: 0;
      color: #000000;
      font-weight: 400;
      line-height: 1.1725;
      font-size: 1.4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      font-family: Roboto, 'Source Sans Pro';
      width: 100%;
    }
  }
  .auto-group-pz3h-TsU {
    flex-shrink: 0;
    margin: 3.6rem 2rem 0rem 0rem;
    width: 33rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .item--NUe {
      text-align: center;
      font-size: 4rem;
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      font-weight: 600;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-50--FYS {
      font-weight: 400;
      line-height: 1.3601;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      margin-bottom: 7.2rem;
      text-align: center;
      font-size: 1.8rem;
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      flex-shrink: 0;

      .item-50--FYS-sub-0 {
        font-weight: 400;
        line-height: 1.3601;
        color: #ff3d00;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.8rem;
      }
      .item-50--FYS-sub-1 {
      }
      .item-50--FYS-sub-2 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3601;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .item-50--FYS-sub-3 {
      }
    }
    .card-pricing-1-RNN {
      border: solid 0.1rem #000000;
      flex-shrink: 0;
      box-sizing: border-box;
      width: calc(100% - 6rem);
      overflow: hidden;
      position: relative;
      align-items: center;
      flex-direction: column;
      margin: 0 3rem;
      padding: 2.9rem 5.5rem 3.3rem 5.5rem;
      display: flex;
      background-color: #ffffff;
      border-radius: 0.2rem;

      .icon-Wei {
        flex-shrink: 0;
        margin: 0rem 5.3rem 0.9rem 5.3rem;
        width: calc(100% - 10.6rem);
        height: 5.4rem;
        background-color: #000000;
        border-radius: 2.7rem;
      }
      .title-D3L {
        margin: 0rem 0rem 0.8rem 0.1rem;
        justify-content: center;
        font-size: 2rem;
        font-weight: 500;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .subtitle-hDQ {
        display: flex;
        justify-content: center;
        line-height: 1.7142857143;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 3.4rem;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
      }
      .text-Qdc {
        max-width: 7.1rem;
        font-size: 1.4rem;
        color: rgba(0, 0, 0, 0.5);
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0rem 2.9rem 0.1rem;
        font-weight: 400;
        line-height: 2.4285714286;
        text-align: center;
      }
      .button-secondary-hMp {
        line-height: 1.1725;
        width: 100%;
        font-family: Roboto, 'Source Sans Pro';
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        font-weight: 400;
        justify-content: center;
        white-space: nowrap;
        flex-shrink: 0;
        height: 4rem;
        align-items: center;
        font-size: 1.4rem;
        color: #000000;
        border-radius: 0.5rem;
        display: flex;
      }
    }
  }
  .card-pricing-1-iGv {
    position: relative;
    align-items: center;
    display: flex;
    margin-top: 19.5rem;
    box-sizing: border-box;
    padding: 2.9rem 5.25rem 3.3rem 5.35rem;
    width: 27rem;
    overflow: hidden;
    border: solid 0.1rem #000000;
    flex-shrink: 0;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0.2rem;

    .icon-BgJ {
      height: 5.4rem;
      background-color: #000000;
      border-radius: 2.7rem;
      flex-shrink: 0;
      margin: 0rem 5.55rem 0.9rem 5.45rem;
      width: calc(100% - 11rem);
    }
    .title-62a {
      justify-content: center;
      font-weight: 500;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.8rem;
      display: flex;
      align-items: center;
      font-size: 2rem;
    }
    .subtitle-PXU {
      margin: 0rem 0.1rem 3.4rem 0rem;
      display: flex;
      font-weight: 400;
      line-height: 1.7142857143;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .text-gWa {
      margin-bottom: 6.3rem;
      text-align: center;
      font-weight: 400;
      line-height: 2.4285714286;
      color: rgba(0, 0, 0, 0.5);
      max-width: 16.4rem;
      font-size: 1.4rem;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .button-secondary-mnv {
      align-items: center;
      font-size: 1.4rem;
      color: #000000;
      box-sizing: border-box;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      line-height: 1.1725;
      white-space: nowrap;
      margin: 0rem 0.25rem 0rem 0.15rem;
      width: calc(100% - 0.4rem);
      font-weight: 400;
      font-family: Roboto, 'Source Sans Pro';
      border-radius: 0.5rem;
      height: 4rem;
      border: solid 0.1rem #000000;
    }
  }
  .button-primary-mRY {
    color: #ffffff;
    width: 20rem;
    display: flex;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    flex-shrink: 0;
    height: 6rem;
    align-items: center;
    font-weight: 400;
    line-height: 1.1725;
    white-space: nowrap;
    margin-bottom: 55.5rem;
    justify-content: center;
    font-family: Roboto, 'Source Sans Pro';
    background-color: #000000;
  }
}
