
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.posts-blog-left-8RU {
  box-sizing: border-box;
  padding: 8rem 13.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;

  .auto-group-pl5u-Fkz {
    margin-right: 3.1rem;
    width: 76.9rem;
    height: 60rem;
    position: relative;
    flex-shrink: 0;

    .blog-card-feature-BPk {
      white-space: nowrap;
      background-color: #000000;
      position: absolute;
      left: 0;
      font-size: 5.6rem;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      box-sizing: border-box;
      padding: 5.6rem 4.9557rem;
      width: 38.2rem;
      top: 0;
      height: 60rem;
      font-weight: 400;
      line-height: 1.1725;
    }
    .blog-card-image-2fG {
      width: 70.7rem;
      height: 36.2rem;
      position: absolute;
      top: 18.6rem;
      display: flex;
      background-color: #888888;
      box-sizing: border-box;
      padding: 7.5rem 4.036rem 5.987rem 4.9rem;
      flex-direction: column;
      left: 6.2rem;
      align-items: center;

      .auto-group-abxd-thU {
        line-height: 1.407;
        white-space: nowrap;
        margin: 0rem 41.7rem 2.487rem 0rem;
        padding: 0.3rem 1.2rem 0.113rem 1.2rem;
        width: 20.0635rem;
        font-size: 1.4rem;
        font-weight: 700;
        box-sizing: border-box;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        background-color: #000000;
        flex-shrink: 0;
      }
      .auto-group-89jf-7q8 {
        padding: 1.9rem 9.208rem 0.229rem 23.247rem;
        background-color: #000000;
        flex-shrink: 0;
        margin: 0rem 0.809rem 6.471rem 0rem;
        box-sizing: border-box;

        .title-Cra {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.407;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          max-width: 28.5rem;
          text-align: right;

          .title-Cra-sub-0 {
          }
          .title-Cra-sub-1 {
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.407;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
      }
      .auto-group-wjs3-N2J {
        white-space: nowrap;
        flex-shrink: 0;
        padding: 0.4rem 1.481rem 0.013rem 13.483rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.407;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        background-color: #000000;
        margin-left: 41.7rem;
        box-sizing: border-box;
        text-align: right;
      }
    }
  }
  .auto-group-gqv5-b9x {
    width: 37rem;
    height: 60rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .blog-card-ikN {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 3rem;
      width: 100%;
      height: 28.5rem;

      .title-3Xk {
        top: 11.7rem;
        font-size: 2.4rem;
        line-height: 1.407;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        position: absolute;
        height: 10.2rem;
        left: 3.4rem;
        font-weight: 400;
        width: 26.8rem;
      }
      .title-vrS {
        font-size: 1.4rem;
        line-height: 1.407;
        font-family: Roboto, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
        top: 5rem;
        color: #ffffff;
        white-space: nowrap;
        width: 5.8rem;
        left: 3.4rem;
        font-weight: 700;
      }
      .background-D4r {
        width: 37rem;
        height: 28.5rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
      }
      .title-L9U {
        position: absolute;
        line-height: 1.407;
        font-family: Roboto, 'Source Sans Pro';
        width: 26.6rem;
        height: 6.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #000000;
        left: 4.8rem;
        top: 11.6rem;
      }
      .author-Qf8 {
        top: 20.7rem;
        line-height: 1.407;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        left: 22.2rem;
        font-size: 1.8rem;
        font-weight: 400;
        font-family: Roboto, 'Source Sans Pro';
        width: 6.9rem;
        height: 2.6rem;
      }
      .subtitle-gsY {
        height: 2.3rem;
        position: absolute;
        left: 4.7rem;
        top: 5.5rem;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        width: 4.9rem;
        line-height: 1.40625;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.6rem;
      }
    }
    .blog-card-ybk {
      width: 100%;
      height: 28.5rem;
      position: relative;
      flex-shrink: 0;

      .title-j58 {
        top: 11.7rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #ffffff;
        height: 10.2rem;
        position: absolute;
        left: 3.4rem;
        line-height: 1.407;
        font-family: Roboto, 'Source Sans Pro';
        width: 26.8rem;
      }
      .title-24E {
        left: 3.4rem;
        top: 5rem;
        font-weight: 700;
        line-height: 1.407;
        color: #ffffff;
        height: 2rem;
        position: absolute;
        font-size: 1.4rem;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.8rem;
      }
      .background-WVC {
        width: 37rem;
        height: 28.5rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
      }
      .title-dpi {
        width: 11.4rem;
        position: absolute;
        left: 6.3rem;
        line-height: 1.407;
        font-family: Roboto, 'Source Sans Pro';
        height: 10.2rem;
        top: 8.3rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #000000;
      }
      .author-8Wa {
        color: #000000;
        white-space: nowrap;
        width: 6.9rem;
        height: 2.6rem;
        position: absolute;
        left: 22.3rem;
        font-family: Roboto, 'Source Sans Pro';
        top: 20.1rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.407;
      }
      .subtitle-puC {
        top: 4rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.40625;
        font-family: Roboto, 'Source Sans Pro';
        width: 3.9rem;
        height: 2.3rem;
        left: 5.4rem;
        white-space: nowrap;
        position: absolute;
        color: #000000;
      }
    }
  }
}
